/*GENERAL*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #1c1c1c;
    font-family: 'Inter', sans-serif;
}

/*MAIN*/

main{
    margin: 0 auto;
    background-color: #fff;
}

/*COLOR-SELECTORS*/

.section-color-selectors{
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
}

.section-color-selectors input{
    margin-right: 10px;
    min-width: 35px;
    height: 35px;
}

.section-color-selectors select{
    margin-right: 10px;
    width: 250px;
    padding: 0 15px;
    font-weight: 400;
    font-size: 0.8rem;
    border-radius: 6px;
}

.section-color-selectors button{
    min-width: 70px;
    font-weight: 500;
    font-size: 0.6rem;
    background-color: #fff;
    border-radius: 4px;
}

.section-color-selectors input,
.section-color-selectors select,
.section-color-selectors button{
    cursor: pointer; 
}

.section-color-selectors select,
.section-color-selectors button{
    font-family: inherit;
    border: 1px solid #D1D5DB;

}

/*BARS & CODES*/

#first-color-bar{
    background-color: #f55a5a;
}

#second-color-bar{
    background-color: #2b283a;
}

#third-color-bar{
    background-color: #fbf3ab;
}

#fourth-color-bar{
    background-color: #aad1b6;
}

#fifth-color-bar{
    background-color: #a626d3;
}

.section-color-bars{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 415px;
}

.section-color-codes{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 45px;
    cursor: pointer;
}

.color-code{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 0.75rem;
}

/*MEDIA QUERIES*/
@media (min-width: 500px){

    main{
        max-width: 550px;
    }
    
    .section-color-selectors input{
        width: 61px;
        height: 42px;
    }
    
    .section-color-selectors select{
        width: 312px;
        font-size: 1rem;
    }
    
    .section-color-selectors button{
        width: 123px;
        font-size: 0.75rem;
    }
}